.App {
  text-align: center;
  flex-direction: column;
}

.direction {
  flex-direction: column;
}
.logo1 {
  position: absolute;
  width: 164.21px;
  height: 60px;
  left: 56px;
  top: 62px;
}
.photo {
  position: absolute;
  width: 612px;
  height: 437px;
  left: 128px;
  top: 110px;
}
.form {
  position: absolute;
  width: 516px;
  height: 630px;
  left: 889px;
  top: 19px;
  background: #ffffff;
  box-shadow: 1px -10px 25px rgba(201, 201, 201, 0.25),
    -1px 10px 25px rgba(147, 147, 147, 0.25);
}

.heading {
  margin-top: 95px;
}
.firstinput {
  margin-top: 95px;
  width: 300px;
  border: none;
  border-bottom: 2px solid rgb(146, 131, 131);
}
.textlabel {
  margin-top: 98px;
  width: 200px;
  margin-left: 1px;
}

.phoneinput {
  margin-top: 95px;
  width: 200px;
  border: none;
  padding: 7px;
  border-bottom: 2px solid rgb(146, 131, 131);
}
.label {
  margin-top: 95px;
  width: 70px;
  margin-left: 25px;
  border: none;
  border-bottom: 2px solid rgb(146, 131, 131);
  padding: 6px;
}

.phonesecondinput {
  margin-top: 55px;
  width: 240px;
  border: none;
  border-bottom: 2px solid rgb(146, 131, 131);
}
.secondinput {
  margin-top: 55px;
  width: 300px;
  border: none;
  border-bottom: 2px solid rgb(146, 131, 131);
}
.button {
  margin-top: 55px;
  margin-left: 70px;
  width: 120px;
  height: 30px;
  border-radius: 6px;
  background-color: rgb(77, 182, 231);
  border: none;
  color: white;
}
.lasttext {
  margin-top: 95px;
  margin-left: 72px;
  font-size: 16px;
}

.link {
  font-size: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo1 {
    display: none;
  }
  .photo {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
